/* Why download  the fonts? */

@font-face {
  font-family: "Source sans pro regular";
  src: url("fonts/SourceSansPro-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Source sans pro bold";
  src: url("fonts/SourceSansPro-Bold.ttf") format("ttf");
}

html {
  box-sizing: border-box; /* switch to altenative CSS box model */
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.7rem;
  font-weight: 500;
  background-color: gray;
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.6;
}
p::first-letter {
  text-transform: capitalize;
}
h1 {
  font-size: 5rem;
  font-weight: 900;
}
h2 {
  font-size: 4.5rem;
  font-weight: 800;
}
h3 {
  font-size: 4rem;
  font-weight: 700;
}
h4 {
  font-size: 3.5rem;
  font-weight: 600;
}
h5 {
  font-size: 3rem;
  font-weight: 500;
}
h6 {
  font-size: 2.5rem;
}

.App {
  margin: 0px;
  padding: 0px;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  display: inline-block;
  row-gap: 50px;
  padding: 10px;
}

main {
  flex-direction: column;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 70px;
}

input {
  display: inline-block;
  height: 40px;
  padding: 4px 8px;
  width: 500px;
}

button {
  display: inline-block;
  height: 40px;
  padding: 2px 4px;
  width: 70px;
}

.input-error {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.error {
  color: red;
}

@media only screen and (max-width: 600px) {
  input {
    width: 300px;
    padding: 2px 4px;
  }
}

/*  web safe fonts stack */
p {
  font-family: "Source sans pro regular", Helvetica, arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source sans pro bold", Helvetica, arial, sans-serif;
}

/* Links and different states */

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: blue;
}
a:visited {
  color: purple;
}
a:hover,
a:focus {
  border-bottom: 1px solid;
}

a:active {
  color: red;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}
