* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.App {
  margin: 0px;
  padding: 0px;
  position: relative;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  display: inline-block;
  row-gap: 50px;
  padding: 10px;
}

main {
  position: absolute;
  top: 75px;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  max-width: 700px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 70px;
}

input {
  display: inline-block;
  height: 40px;
  padding: 4px 8px;
  width: 500px;
}

button {
  display: inline-block;
  height: 40px;
  padding: 2px 4px;
  width: 70px;
}

.input-error {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.error {
  color: red;
}

@media only screen and (max-width: 600px) {
  input {
    width: 300px;
    padding: 2px 4px;
  }
}
